<section class="signup-section">
    <h2>Sign up form</h2>
    <form class="signup-form" #signupForm = "ngForm" (submit)="userSignup(signupForm)">
        <mat-form-field class="example-full-width">
          <mat-label>username</mat-label>
          <input matInput placeholder="Username" [(ngModel)] = "signupUser.username" name="username" #username = "ngModel" required minlength=5>
          <mat-error *ngIf="(username.touched || username.dirty) && username.errors?.required">
            Please enter username
          </mat-error>
          <mat-error *ngIf="(username.touched || username.dirty) && username.errors?.minlength">
            username must be min 5 characters
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input type="email" matInput placeholder="E-mail" [(ngModel)] = "signupUser.email" name="email" #email = "ngModel" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input type="password" matInput placeholder="password" [(ngModel)] = "signupUser.password" name="password" #password = "ngModel" required>
        </mat-form-field>
    
    
        <button mat-raised-button color="primary" [disabled] ="signupForm.invalid">Signup</button>
    </form>
    
    </section>
    